<section class="section home">
    <div class="container">
        <div class="home-box">
            <h1 class="home-box-title title">
                Investir pode ser fácil, rápido, prático e simples
            </h1>
            <h2 class="home-box-subtitle subtitle">
                Tenha acesso aos mais variádos tipos de investimentos tudo em um só lugar da forma mais simples possível.
            </h2>
            <button class="button-primary">
                SAIBA MAIS
            </button>
        </div>
    </div>
</section>
