<section class="section home" (window:scroll)="scrollReveal($event)">
    <div class="container">
        <div class="home-box">
            <h1 class="home-box-title title entry-bottom-to-top">
                Invista em <span>Cripto</span> e <span>NFT's</span> de forma simples e rápida
            </h1>
            <h2 class="home-box-subtitle subtitle entry-bottom-to-top">
                Tenha acesso a diversas coleções de NFT's e acesso as melhores criptomoedas do mercado tudo em um só lugar
            </h2>
            <button class="button-primary entry-bottom-to-top">
                QUERO INVESTIR!
            </button>
        </div>
    </div>
</section>

<section class="section nft">
    <div class="container">
        <h1 class="title">Entre Para o Mundo das <span class="title">NFT's</span></h1>
        <h2 class="paragraph">
            Descubra esse mundo com coleções para todos os gostos, e raridades que vão de Comum a Extra Rara.
        </h2>
        <div class="nft-box">
            <div class="nft-card" *ngFor="let nft of collectionsNft">
                <h1 class="subtitle">{{ nft.collectionName }}</h1>
                <h4 class="legend">{{ nft.rarity }}</h4>
                <div class="nft-image">
                    <img src="../../../assets/images/svg/LogoSVG.svg" alt="">
                </div>
                <button>
                    <span>SAIBA MAIS</span>
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="section active">
    <div class="coins">
        <ng-container *ngFor="let coin of coinsList">
            <ng-container *ngFor="let icon of coin.coins">
                <img src="../../../assets/{{ icon.imagePath }}">
            </ng-container>
        </ng-container>
    </div>
    <div class="container">
        <div class="active-box">
            <h1 class="title">
                Diversas <span>CriptoMoedas</span>
            </h1>
            <!-- <h2 class="subtitle">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel facere corrupti, et iste, architecto quam
                ipsa eaque delectus nisi cupiditate itaque sequi! Animi quaerat porro, corrupti repudiandae quae
                assumenda architecto qui, saepe ratione labore iste mollitia, ducimus nobis veniam sint.
            </h2> -->
        </div>
    </div>
</section>

<section class="section section-cards">
    <div class="container">
        <div class="section-cards-box">
            <div class="legend">
                <h1 class="subtitle">Cotação em Tempo Real</h1>
                <h2 class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vel velit accusantium ut laudantium
                    minima deleniti eveniet recusandae dicta nesciunt non laboriosam totam optio asperiores temporibus
                    at consequuntur! Autem, ut.
                </h2>
                <button class="button-reverse">
                    CLIQUE AQUI
                </button>
            </div>
            <div class="image"></div>
        </div>
    </div>
</section>

<section class="section section-cards">
    <div class="container">
        <div class="section-cards-box reverse">
            <div class="legend">
                <h1 class="subtitle">Acesso em Qualquer Dispositivo</h1>
                <h2 class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vel velit accusantium ut laudantium
                    minima deleniti eveniet recusandae dicta nesciunt non laboriosam totam optio asperiores temporibus
                    at consequuntur! Autem, ut.
                </h2>
                <button class="button-reverse">
                    CLIQUE AQUI
                </button>
            </div>
            <div class="image">
                <img src="../../../assets/images/images/hero@1x.png" alt="">
            </div>
        </div>
    </div>
</section>
