<footer class="footer-background">
    <div class="container">
        <div class="footer-card">
            <div class="box-logo">
                <h1>diamond</h1>
                <h2>investimentos</h2>
            </div>
            <h1 class="footer-title subtitle">
                seu <span class="subtitle">dinheiro</span> <br>
                nossos <span class="subtitle">planos</span>
            </h1>
        </div>
        <div class="footer-card">
            <h1 class="footer-title subtitle">Contato</h1>
            <div class="footer-icon-box">
                <div class="icon">
                    <img src="../../../../assets/images/icons/linkedin.png" alt="ícone do linkedin">
                </div>
                <div class="icon">
                    <img src="../../../../assets/images/icons/whatsapp.png" alt="ícone do whatsapp">
                </div>
                <div class="icon">
                    <img src="../../../../assets/images/icons/github.png" alt="ícone do github">
                </div>
            </div>
            <p class="legend">© Paulo Enrique 2022</p>
        </div>
    </div>
</footer>