.footer {
    &-background {
        width: 100vw;
        background-color: var(--color-background-scale-1);
        padding: 20px 0;
        border-top: 2px solid var(--color-contrast-scale-3);
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        color: var(--color-contrast-scale-1);
    }

    &-title {
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        padding-top: 10px;

        .subtitle {
            color: var(--color-destak-scale-1);
        }
    }

    &-icon-box {
        display: flex;
        padding-top: 10px;
        padding-bottom: 5px;
        gap: 5px;

        .icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
            transition: .2s;

            img {
                width: 100%;
            }
        }

        .icon:hover {
            background-color: var(--color-contrast-scale-5);
            transition: .2s;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &-background {
            .container {
                justify-content: center;
                gap: 20px;
            }
        }
    }
}