@keyframes entry-bottom-to-top {
    0% { 
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes entry-opacity {
    0% { 
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes entry-left-to-right {
    0% { 
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes entry-right-to-left {
    0% { 
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}