.container {
    width: 90vw;
    margin: auto;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.section {
    max-width: 100vw;
    min-height: var(--section-height-size);
    display: flex;
    flex-flow: column;
}

.title {
    color: var(--color-contrast-scale-1);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
}

.subtitle {
    color: var(--color-contrast-scale-1);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

.paragraph {
    color: var(--color-contrast-scale-2);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
}

.legend {
    color: var(--color-contrast-scale-4);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-light);
}

.title, .subtitle, .paragraph, .legend {
    user-select: none;
    background-color: transparent;
}