
    <div class="nft-background"
    [ngClass]="{ 'show' : isOpenDetails$ | async }">
        <div class="nft-card">
            <div class="nft-image">
                <img src="../../../assets/images/svg/LogoSVG.svg" alt="">
            </div>
            <div class="nft-description">
                <h1 class="title">Diamond</h1>
                <h4 class="subtitle">Rara</h4>
                <p class="paragraph">
                    Essa é uma coleção para pessoas que gostam de coisas exclusivas, trazendo um ar de rebustês em suas
                    cores e traços, além de seu toque fino de diamante e toda a sua exclusividade de uma NFT rara que contém
                    apenas 7 variações.
                </p>
                <button class="button-outline">
                    <span>COLEÇÃO COMPLETA</span>
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
        <mat-icon class="icon close" (click)="closeDetails()">close</mat-icon>
        <mat-icon class="icon control-button left">keyboard_arrow_left</mat-icon>
        <mat-icon class="icon control-button">keyboard_arrow_right</mat-icon>
    </div>