.collection {
    margin-top: 70px;
    background-color: var(--color-background-scale-1);

    &-image {
        width: 100%;

        svg { 
            background-color: red;
            width: 200px !important;
        }
    }
}