.nft {
    &-background {
        width: 250px;
        background-color: var(--color-background-scale-3);
        transform: translate(0);
        overflow: hidden;
        padding: 5px 10px 10px;
        border-radius: 5px;
        transition: .5s !important;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: -24px;
            left: -64px;
            width: 150%;
            height: 70%;
            transform: rotate(-12deg);
            z-index: -1;
        }

        &:hover {
            .nft-image {
                transition: 1.5s;
                transform: scale(1.1) rotate(-5deg);
            }

            button {
                width: auto;

                span {
                    max-width: 100%;
                    transition: 1s;
                }
            }
        }

        .legend {
            width: 100%;
            text-align: end;
            font-size: 10px;
            color: var(--color-background-scale-3);
            margin-top: -5px;
            font-weight: var(--font-weight-bold);
        }

        .subtitle {
            width: 100%;
            text-align: end;
        }
    }

    &-image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        transition: 1s;

        img {
            height: 150px;
            width: 190px;
            filter: drop-shadow(0px 0px 16px #6f6f6f);
        }
    }
}

.LEGEND {
    &::after {
        background: linear-gradient(170deg, var(--color-legend-scale-2), var(--color-legend-scale-1));
    }

    button {
        span {
            color: var(--color-legend-scale-2);
        }

        mat-icon {
            color: var(--color-legend-scale-2);
        }
    }
}

.EPIC {
    &::after {
        background: linear-gradient(170deg, var(--color-epic-scale-2), var(--color-epic-scale-1));
    }

    button {
        span {
            color: var(--color-epic-scale-2);
        }

        mat-icon {
            color: var(--color-epic-scale-2);
        }
    }
}

.RARE {
    &::after {
        background: linear-gradient(170deg, var(--color-rare-scale-2), var(--color-rare-scale-1));
    }

    button {
        span {
            color: var(--color-rare-scale-2);
        }

        mat-icon {
            color: var(--color-rare-scale-2);
        }
    }
}

.COMUM {
    &::after {
        background: linear-gradient(170deg, var(--color-comum-scale-2), var(--color-comum-scale-1));
    }

    button {
        span {
            color: var(--color-comum-scale-2);
        }

        mat-icon {
            color: var(--color-comum-scale-2);
        }
    }
}

.hidden {
    opacity: 0;
    transition: .5s;
}

.detail {
    opacity: 1;
    transition: .5s !important;

    &.nft {
        &-background {
            background-color: transparent;
            color: transparent;

            &::after {
                animation: animation-detail-after 1s linear forwards;
                position: absolute;
            }
        }
    }

    .legend, 
    .subtitle,
    .button-transparent,
    .nft-image {
        animation: animation-hidden 1s linear;
    }
}

@keyframes animation-hidden {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animation-detail-after {
    20% {
        top: -24px;
        left: -64px;
        width: 150%;
        height: 150%;
        transform: rotate(-12deg);
    }

    30% {
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
    }

    40% {
        left: 5%;
        width: 90%;
    }

    70% {
        top: 0;
        left: 49%;
        width: 2%;
        height: 100%;
    }

    90% {
        top: 49%;
        left: 49%;
        width: 2%;
        height: 2%;
    }

    100% {
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
        transform: rotate(0deg);
    }
}